global
    maxconn 1024
    log     stdout format raw local0

defaults
    mode    http
    timeout connect 1s
    timeout client  5s
    timeout server  5s

frontend fraud_front
    bind *:9999
    default_backend fraud_back

backend fraud_back
    balance roundrobin
    http-reuse always
    option  httpchk GET /ready
    http-check expect status 200
    server api1 unix@/sockets/api1.sock check inter 2s fall 2 rise 1
    server api2 unix@/sockets/api2.sock check inter 2s fall 2 rise 1
